* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: orange;
}

.welcome-container {
    width: 800px;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 17px;
}
 


header h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #121213;
}

header p {
    color: #5d6263;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 20px;
}

.content-placeholder {
    margin: 20px 0;
    color: #121212;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    margin: 50px;
    
}

.dropdown-container label {
    font-weight: bold;
    color: #34495e;
    text-align: left;
}

select {
    padding: 10px;
    font-size: 1em;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}
.state{
    width: 40rem;
    text-align: left;

}
.city{
    width: 40rem;
    text-align: left;

}
select:focus {
    outline: none;
    border-color: #3498db;
    background-color: #ecf5fd;
}
button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #2980b9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
}

button:hover {
    background-color: #161aeb;
    transition: all;
}




